<form class="login" name="login">
  <div class="two-col">
    <h3>Login</h3>
    <p class="validate-error">Wrong e-mail or password</p>
  </div>
  <div class="two-col">
    <label for="login-email">E-mail:</label>
    <span class="required">*required</span>
  </div>
  <input id="login-email" type="email" placeholder="Enter e-mail" />
  <div class="two-col">
    <label for="login-pass">Password:</label>
    <span class="required">*required</span>
  </div>
  <input id="login-pass" type="password" placeholder="Enter password" />
  <div class="two-col login-action">
    <a class="login-forgot" href="">Forgot a password?</a>
    <button class="button btn-light">Login</button>
  </div>
</form>
