.search {
  margin: 25px 0;
  display: flex;;

  input {
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    background-color: #ffffff;
    padding: 0 40px;
    margin-right: 10px;
    min-height: 50px;
  }

  button {
    border-radius: 3px;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.13px;
    color: #ffffff;
    border: none;
    background: #9bc837;
    padding: 0 20px;
    min-height: 50px;
    cursor: pointer;
  }
}
