<div class="add-course">
  <button class="button" type="button" (click)="onAddCourseClick()"><fa-icon [icon]="faPlus"></fa-icon> Add course</button>
</div>

<div class="course-items">
  <app-course-list-item
    *ngFor="let item of courses$ | async | filter: search"
    [item]="item"
    (removeItem)="onDeleteCourseClick($event)"
  ></app-course-list-item>
  <div #data>
    <div *ngIf="courses$ | async; else nodata"></div>
    <ng-template #nodata>
      <div class="course-list-item">
        <div class="course-description--block">
          <p>No data. Feel free to add new course.</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
