.footer {
  display: flex;
  align-items: center;
  background: #414452;
  min-height: 64px;

  p {
    color: #fff;
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
  }
}
