.breadcrumbs {
  background: #fff;
  padding: 20px 0;

  a {
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: #2c2f3c;
    text-decoration: none;
  }
}
