<ng-content></ng-content>
<div class="course-list-item" [appBorderColor]="item" [ngClass]="{ 'top-spote': item.top }">
  <div class="course-description--block">
    <div class="course-name">
      <h3 class="course-title">{{ item?.title | uppercase }} <fa-icon *ngIf="item.top" [icon]="faStar"></fa-icon></h3>
      <div class="course-schedule">
        <p class="course-time"><fa-icon [icon]="faClock"></fa-icon> {{ item?.duration | duration }}</p>
        <p class="course-date"><fa-icon [icon]="faCalendarAlt"></fa-icon> {{ item?.creationDate | date: 'mediumDate' }}</p>
      </div>
    </div>
    <p class="course-description">{{ item?.description }}</p>
  </div>
  <div class="edits--block">
    <button class="button edit" (click)="onEditCourseClick()"><fa-icon [icon]="faPen"></fa-icon> Edit</button>
    <button class="button delete" (click)="openModal('custom-modal')"><fa-icon [icon]="faTrashAlt"></fa-icon> Delete</button>
    <jw-modal id="custom-modal">
      <h1>Remove????</h1>
      <button class="button" (click)="onDeleteCourseClick()">Ok</button>
      <button class="button" (click)="closeModal('custom-modal')">Close</button>
    </jw-modal>
  </div>
</div>
