/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  margin: 10px 0 0;
}

main {
  background: #f2f3f7;
  min-height: calc(100vh - 130px);
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 25px;
}
