/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  background: #f2f3f7;
}

p {
  margin: 10px 0 0;
}

main {
  min-height: calc(100vh - 130px);
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 25px;
}

.button {
  border-radius: 3px;
  background: #30b6dd;
  border: none;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.09px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
